{
  "extends": [
    "plugin:vue/vue3-recommended",
  ],
  "env": {
    "browser": true,
    "node": true
  },
  "parserOptions": {
    "ecmaVersion": 2018,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": false
    }
  },
  "rules": {
    "func-style": "off",
    "no-multiple-empty-lines": "off",
    "block-spacing": "off",
    "no-whitespace-before-property": "warn",
    "space-in-parens": [
      "error",
      "never"
    ],
    "object-curly-spacing": [
      "error",
      "always"
    ],
    "space-before-blocks": [
      "error",
      "always"
    ],
    "padding-line-between-statements": [
      "warn",
      {
        "blankLine": "always",
        "prev": "*",
        "next": "return"
      }
    ],
    "no-cond-assign": "error",
    "indent": [
      "error",
      2,
      {
        "SwitchCase": 1
      }
    ]
  }
}